#navbar{
    padding: 0.5rem;
}

#navbar .home-logo{
    display: none;
}

#navbar ul{
    margin: 0 auto;
}

#showcase .showcase-content{
    height: 110vh;
    top: 0;
}

#showcase .showcase-content img{
    width: 150px;
    height: 150px;
}

.container-box{
    flex: 1;
}

footer .footer-content{
    flex-direction: column;
}